<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4r [%t] %-5p %c - %m%n</pattern>
        </encoder>
    </appender>
    <appender name="CLEANCONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-8r %m%n</pattern>
        </encoder>
    </appender>


    <appender name="S" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/tmp/storm.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>storm.log.%i</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>9</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>%-8r %m%n</pattern>
            <!-- <pattern>%-4r %-5p %c - %m%n</pattern> -->
        </encoder>
    </appender>

    <appender name="Q" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/tmp/queue.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>queue.log.%i</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>9</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>2MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>%m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.zookeeper" level="WARN"/>
	<root level="INFO">
        <appender-ref ref="S"/>
    </root>
    
    
    <logger name="com.infochimps" level="DEBUG">
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    
	<logger name="backtype.storm.utils.InstrumentedDisruptorQueue" additivity="true" >
        <level value="TRACE"/>
        <appender-ref ref="CLEANCONSOLE"/>
    </logger>
	<logger name="storm.trident.topology.MasterBatchCoordinator" additivity="true" >
        <level value="TRACE"/>
        <appender-ref ref="CLEANCONSOLE"/>
    </logger>
	<logger name="storm.trident.topology.TridentBoltExecutor" additivity="true" >
        <level value="TRACE"/>
        <appender-ref ref="CLEANCONSOLE"/>
    </logger>
	<logger name="storm.trident.spout.TridentSpoutCoordinator" additivity="true" >
        <level value="TRACE"/>
        <appender-ref ref="CLEANCONSOLE"/>
    </logger>
	<logger name="backtype.storm.daemon.acker" additivity="true" >
        <level value="TRACE"/>
        <appender-ref ref="CLEANCONSOLE"/>
    </logger>
	<logger name="storm.starter.trident" additivity="true" >
        <level value="TRACE"/>
        <appender-ref ref="CLEANCONSOLE"/>
    </logger>
    
</configuration>
