<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="5 seconds">
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d %-5p [%-30c{1}] %-8r %m%n</pattern>
    </encoder>
  </appender>
  
  <appender name="A1" class="ch.qos.logback.core.FileAppender">
    <file>/tmp/logs/storm.log</file>
    <encoder>
      <pattern>%d %-5p [%-30c{1}] %-8r %m%n</pattern>
    </encoder>
  </appender> 

  <appender name="ACCESS" class="ch.qos.logback.core.FileAppender">
    <file>${storm.home}/logs/access.log</file>
    <encoder>
      <pattern>%d %-5p [%-30c{1}] %-8r %m%n</pattern>
    </encoder>
  </appender>

  <appender name="METRICS" class="ch.qos.logback.core.FileAppender">
    <file>${storm.home}/logs/metrics.log</file>
    <encoder>
      <pattern>%d %-8r %m%n</pattern>
    </encoder>
  </appender>
  
  <root level="WARN">
    <appender-ref ref="CONSOLE"/>
  </root>

  <logger name="backtype.storm.security.auth.authorizer" additivity="false">
    <level value="INFO" />
    <appender-ref ref="ACCESS" />
  </logger>
 
  <logger name="backtype.storm.metric.LoggingMetricsConsumer" additivity="false" >
    <level value="INFO"/>
    <appender-ref ref="METRICS"/>
  </logger>
 
  <logger name="com.infochimps" additivity="true" >
    <level value="DEBUG"/>
    <appender-ref ref="CONSOLE"/> <!-- output this to the console and the log --> 
  </logger>
  <logger name="com.amazonaws" additivity="true" >
    <level value="INFO"/>
    <appender-ref ref="CONSOLE"/> <!-- output this to the console and the log --> 
  </logger>

  <logger name="storm.starter" additivity="false" >
    <level value="DEBUG"/>
    <appender-ref ref="CONSOLE"/> <!-- output this to the console and the log --> 
  </logger>

  <logger name="backtype.storm.utils.InstrumentedDisruptorQueue" additivity="true" >
    <level value="INFO"/>
  </logger>
  <logger name="storm.trident.topology.MasterBatchCoordinator" additivity="true" >
    <level value="INFO"/>
  </logger>
  <logger name="storm.trident.topology.TridentBoltExecutor" additivity="true" >
    <level value="INFO"/>
  </logger>
  <logger name="storm.trident.spout.TridentSpoutCoordinator" additivity="true" >
    <level value="INFO"/>
  </logger>
  <logger name="backtype.storm.daemon" additivity="true" >
    <level value="WARN"/>
  </logger>
  
  <logger name="com.infochimps.storm.wukong" additivity="false">
    <level value="ERROR" />
    <appender-ref ref="CONSOLE" />
  </logger>

  <logger name="com.infochimps.wukong" additivity="false">
    <level value="ERROR" />
    <appender-ref ref="CONSOLE" />
  </logger>

</configuration>
